ifconfig-push {{ .IP }} {{ .NetMask }}

{{if .RedirectGW }}
push "redirect-gateway def1 bypass-dhcp"
{{ end }}

{{range .Servernets}}
push "route {{index . 0}} {{index . 1}}"
{{ end }}


{{range .Routes}}
push "route {{index . 0}} {{index . 1}} {{index . 2}}"
{{ end }}
