name: Go

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2-beta
      with:
        go-version: "^1.14.0"
      id: go

    - name: Check out code
      uses: actions/checkout@v2
      
    - name: Install OpenVPN
      run: sudo apt-get install -y openvpn

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic .
